body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  color:white;
}
/* h3 {
  background-color: black;
  display: block;
  font-size: 5em;
  /* margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: right;

} */
